<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quizzler</title>
    
	
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/landingPageStyle.css">


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="landingPage.html" class="site-logo">
			<h3 class="unlockLogoText"><span class="unlockLogo">QUIZZLER</span></h3>
		</a>
		<ul class="main-menu">
			<li><a href="/Login">Login</a></li>
			<li><a href="/Register">Register</a></li>
			<li><a href="/Score">Score Card</a></li>
		</ul>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Quizzler</span> Solve the mystery</h2>    
								<p>Time to put your sherlock skills to work. Solve the mystery of missing person using the art of deduction. </p>
								<a href="Register" class="site-btn">Register Now</a>
								<a href="/Login" class="site-btn sb-c2">Log in</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img style="border-radius:100%;" src="Images/missing-person.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>The Mystery of missing girl.</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p style="text-align: justify;">
						In a world where being caring is considered a weakness, mental health is considered a stigma. 
						She’s had enough of this world filled with lies , people full of callousness and the disappointment that follows. Can you save her?</p>
					<a href="/Register" class="site-btn">Solve Now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->

	
	
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>
